@{
    ViewBag.Title = "Search";
}



<div class="row">
     
    <div class="col-md-8">
        <!-- middle column -->
        <script>
            (function () {
                var cx = '013808937833054467892:ra3ljqby43w';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:searchbox-only></gcse:searchbox-only>

    </div>
    <div class="col-md-4">
        <!-- right column -->
        Ads
    </div>
</div>
