<div class="panel-body padding-clear">
    <div class="row">
        <div class="col-md-12">
             <h4 class="in-the-news"> In The News: </h4>  
              @Html.InTheNews()   
        </div>
    </div>
</div>