

<div class="panel-body"> 
    <div class="row">
        <div class="col-md-2">
            <div> <span> <img src="~/images/cell.jpg" alt="Cell-Icon" /> </span> <span> <a href="#"> Mobile Version         </a> </span> </div>
            <div> <span> <img src="~/images/feed.jpg" alt="Feed-Icon" /> </span> <span> <a href="#"> Subscribe to this feed </a> </span> </div>
            <div> <span> <img src="~/images/facebook.jpg" alt="Feed-Icon" /> </span> <span> <a href="#"> Join us on Facebook    </a> </span> </div>
            <div> <span> <img src="~/images/twitter.jpg" alt="Feed-Icon" /> </span> <span> <a href="#"> Follow us on Twitter   </a> </span> </div>
        </div>
        <div class="col-md-10 topImage">              
            <a href="#"> @Html.ThirdLevelMenu() </a>                     
        </div>         
    </div>
</div>